{% extends "comic/layout.html" %}

{% block body %}
<!-- SECTION: Heading -->
<h1 class="text-center">Home of the Xkcd Comic</h1> 
<!-- SECTION: Heading End-->
    <br>  
<!-- SECTION: Leading Paragraph -->
<div class="text-center">
    <p class="lead">Our Latest Release</p>
</div>
<br/>
<!-- SECTION: Leading Paragraph End -->

<!-- INCASE YOU ARE SEEING THIS IN 2026! Chances are i have quit this Job 
This next section is pretty cringe in its implemementation feel free to crap at me Lol 
Thinking of a better and intuitive way of putting it please don't shout use react -->
    
<!-- Display Buttons -->
     
<!-- Display the comic details -->
<div class="text-center">   
    Month :{{ month }},
    Year: {{ year}},
    Title : {{ Title }}</p>
    <br/>
    <img src="{{image}}" class="rounded mx-auto d-block" alt="{{ altText }}">
</div>


{% endblock %}